
<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= Listtitle %> </h1>
    </div>

    <div class="box">

        <% for(var i=0;i<newlistItem.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newlistItem[i] %> </p>
        </div>
        <%}%>

      <form class="item" action="/" method="post">
        <input id="wanted" type="text" name="newitem" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value= <%= Listtitle %> > + </button> 
      </form>

</div> 

<%- include("footer") %>
